* {
    font-family: Cambria;
}

#popup {
    position: fixed;
    top: 0px; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
}

.popup-buttons {
    margin-top: 1.5rem;
}

.popup-buttons button {
    background-color: #007bff;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.popup-buttons button:hover {
    opacity: .8;
}